<div>
    <h2 id="page-heading">
        <span>Parametros</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-parametro" [routerLink]="['/parametro/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Crear un nuevo Parametro
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="parametros?.length === 0">
        <span>No hay parametros encontrados</span>
    </div>
    <div class="table-responsive" *ngIf="parametros?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span>ID</span></th>
            <th scope="col" ><span>Code</span></th>
            <th scope="col" ><span>Value</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let parametro of parametros ;trackBy: trackId">
                <td><a [routerLink]="['/parametro', parametro.id, 'view' ]">{{parametro.id}}</a></td>
                <td>{{parametro.code}}</td>
                <td>{{parametro.value}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/parametro', parametro.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">Consultar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/parametro', parametro.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Editar</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/parametro', { outlets: { popup: parametro.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Borrar</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
